// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue:blue;
$indigo:indigo;
$purple:purple;
$pink:pink;
$red:red;
$orange:orange;
$yellow:yellow;
$green:green;
$teal:teal;
$cyan:cyan;

.blue{
    color:$blue;
}
.indigo{
    color:$indigo;
}
.purple{
    color:$purple;
}
.pink{
    color:$pink;
}.red{
    color:$red;
}
.orange{
    color:$orange;
}
.yellow{
    color:$yellow;
}
.green{
    color:$green;
}
.teal{
    color:$teal;
}
.cyan{
    color:$cyan;
}